* {
  box-sizing: border-box;
  margin:0;
}

body {
	background-color: antiquewhite;
	color: #471d2d;
	font-family: 'Roboto', sans-serif;
    height: 100vh;
}

header {
	background-color: #471d2d;
	height: 20vh;
}

h1 {
    font-family: 'Charmonman', cursive;
	font-size: 1.5rem;
    color: lightcoral;
  	text-align: left;
	vertical-align: center;
    margin: 0 1rem;
}

h2{
  color: #471d2d;
  font-size: 1rem;
  margin: 5% auto 5% auto;
  
}

ul{
	background-color: lightcoral;
	border-bottom: 1px solid #471d2d;
	border-top: 1px solid #471d2d;	
	height: 8vh;
	text-align: right;
	width: 100%;
}

li {
  font-size: 80%;
  margin: 4% 1%;
  background-color: antiquewhite;
  float:left;
  display: inline-block;
  border: 1px solid #471d2d;
  border-radius: 2px;
  padding: .3%;
}
  
a{
  color:#471d2d;
  text-decoration: none;
}

li:hover {
  background-color: lightcoral;
  border: 1px solid white;
}

a:hover {
 color: white;
}

aside {
	background-color: antiquewhite;
	float: left;
	font-weight: bold;
	height: 67vh;
	text-align: left;
	max-width: 15%;
    margin-left: 1rem;
}

article {
	background-color: antiquewhite;
	float: right;
	font-weight: bold;
	height: 67vh;
	text-align: left;
	max-width: 80%;
    margin-top: .5rem;

}

section {
	background: lightcoral;
	border: 1px solid #471d2d;
    max-width: 90%;
	margin: 1rem;
	padding: .5rem;
}

footer {
    position: absolute;
    bottom: 0;
	background-color: #471d2d;
	border: 1px solid #471d2d;
	clear: both;
	font-weight: bold;
	height: 5vh;
	text-align: center;
	width: 100%;
}

p{
   text-align: justify;
}

.text, p{
  margin-bottom: 1.2rem;
}

.flex-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}


.kepek{
  width: 40%;
  height: 12%;
  align-self: center;
}

@media (min-width: 640px){
  h1 {
    font-size: 2.5rem;
  }
  li {
  font-size: 90%;
  margin: .8% 1%;
  }
  section{
  max-width: 70%;
  }
}

@media (max-height: 850px){
  h1 {
    font-size: 2.5rem;
  }
  li {
  font-size: 50%;
  margin: .8% 1%;
  }
  section{
    margin-top: 0;
    padding: 0;
    padding-top: .1rem;
  }
  p{
    margin: 0;
    padding: 0;
    font-size:0.7rem;
    font-size: 0.1rem;
  }
  article {
    height: 67vh;
}
